device: &device 'cuda'
seed: &seed 0
bounds_min: &bounds_min [-0.3, -0.6, 0.0]
bounds_max: &bounds_max [0.5, 0.0, 0.5]
path: &path '/home/liujk/ReKepImp'
instrinsics: &instrinsics [386.74, 0, 326.66, 0, 386.28, 247.33, 0, 0, 1]
distortions: &distortions [-0.0556738413870335, 0.0655610412359238, -0.000339997815899551, 0.000355891766957939, -0.021365724503994]
tag_length: &tag_length 0.074
tag_idx: &tag_idx 0

realsense:
  instrinsics: *instrinsics
  distortions: *distortions
  height: 480
  width: 640
  fps: 30
  max_queue_size: 1
  tag_length: *tag_length
  extrinsic_calibrator:
    tag_length: *tag_length
    tag_idx: *tag_idx
    tag_family: 'DICT_APRILTAG_16H5'

mask_tracker:
  seed: *seed
  num_objects: 5
  path: *path
  device: *device
  max_mask_ratio: 0.3
  min_mask_ratio: 0.002
  # SAM params
  points_per_side: 64
  crop_n_layers: 1
  crop_n_points_downscale_factor: 1.0
  bounds_min: *bounds_min
  bounds_max: *bounds_max
  max_overlap_ratio: 0.5

keypoint_tracker:
  num_candidates_per_mask: 3
  min_dist_bt_keypoints: 0.05
  max_mask_ratio: 1
  device: *device
  bounds_min: *bounds_min
  bounds_max: *bounds_max
  seed: *seed

enviroment:
  bounds_min: *bounds_min
  bounds_max: *bounds_max
  interpolate_pos_step_size: 0.01
  interpolate_rot_step_size: 0.01
  w2a: 
    - [0.9994551, -0.01450361, -0.02965028, 0.58004867]
    - [0.01355799, 0.99940074, -0.03184862, 0.14271253]
    - [0.03009443, 0.03142927, 0.99905281, 0.02302165]
    - [0.0, 0.0, 0.0, 1.0]

subgoal_solver:
  bounds_min: *bounds_min
  bounds_max: *bounds_max
  sampling_maxfun: 5000
  max_collision_points: 60
  constraint_tolerance: 0.0001
  minimizer_options:
    maxiter: 200

constraint_generator:
  model: chatgpt-4o-latest
  temperature: 0.0
  max_tokens: 2048

main:
  interpolate_pos_step_size: 0.02  # controls the density of the final returned path
  interpolate_rot_step_size: 0.10  # about 20 degrees
  grasp_depth: 0.05
  constraint_tolerance: 0.10  # for backtracking
  bounds_min: *bounds_min
  bounds_max: *bounds_max
  sdf_voxel_size: 0.01
  vlm_camera: 0
  action_steps_per_iter: 5
  seed: *seed

path_solver:
  opt_pos_step_size: 0.20  # controls the density of control points in the path
  opt_rot_step_size: 0.78  # controls the density of control points in the path
  opt_interpolate_pos_step_size: 0.02  # controls the density of collision checking inside optimization
  opt_interpolate_rot_step_size: 0.10
  max_collision_points: 60
  sampling_maxfun: 5000
  bounds_min: *bounds_min
  bounds_max: *bounds_max
  constraint_tolerance: 0.0001
  minimizer_options:
    maxiter: 200